<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huevos_villa_real">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherhvr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcherhvr_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Huevos_Villa_Real">
        <activity
            android:name=".MainActivity5"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="true"
            android:label="@string/txtwelcome"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity
            android:name=".MainActivity3"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity2"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>